/.env
/.vscode
/data/*
.DS_Store
/logs/apache2/*
/logs/mysql/*
/config/ssl/*
/jenkins
/www/hr-service/node_modules
/www/hr-service/public/hot
/www/hr-service/public/storage
/www/hr-service/storage/*.key
/www/hr-service/vendor
/www/hr-service/.env
/www/hr-service/.env.backup
/www/hr-service/.phpunit.result.cache
/www/hr-service/Homestead.json
/www/hr-service/Homestead.yaml
/www/hr-service/npm-debug.log
/www/hr-service/yarn-error.log
/www/hr-service/.php_cs.cache
/www/hr-service/.vscode
